#root{
  max-width: 1800px;
  margin: 0;
  padding: 2rem;
}
a{
  text-decoration: none;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

/* Navbar y links */
.nav{
  padding: 1rem;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
}
.link-home{
  margin-right: 1rem;
  color: white;
}
.link{
  color: white;
}
/* titulos h2 */
.titulo{
  margin: 15px 0px 10px 0px;
  font-size: 2rem;
  text-align: start;
  padding-left: 4rem;
}
.titulo2{
  margin: 15px 0px 10px 0px;
  font-size: 2rem;
}

/* Barra busqueda */
.busqueda-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 2rem;
  margin: 10px 0px 5px 0px;
}
.busqueda-btn{
  width: 50px;
  background: center / contain no-repeat url("img/icon-search.svg");
  background-color:#121212;
}


/* Grid cards favoritos */
.grid-cards-favoritos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/* Grid cards movie */
.grid-cards-home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
/* Cards Movie, img , link */
.cardMovie{
  width: 200px;
  min-height: 450px;
  margin: 0.8rem;
  background-color: #1c1c1c;
  border-radius: 8px;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 5px 0px;
}
.card-img{
  width: 100%;
}
.cardbtn-agregarFav{
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: rgb(103, 239, 166);
  color:black;
}
.cardbtn-quitarFav{
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: red;
  color:white;
}
