#root{
  max-width: 2400px;
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: sans-serif;
}

body {
  font-family: BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  background-color: #080f28;
  color: white;
}

/* Scroll bar */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00bcff, #007aff);
}
::-webkit-scrollbar {
        width: .7rem;
        height: .7rem;
}
::-webkit-scrollbar-track {
        background-color: #1e2747;
}


.resaltar{
    color: #007aff;
}

.titulo{
  margin: 2rem 0px;
  font-size: 1.3rem;
  text-align: start;
  padding:0 5vw;
}
.titulo2{
  margin: 2rem 0px;
  font-size: 1.3rem;
  text-align: center;
}
.tendencias-titulo{
    font-size: 1.3rem;
    font-weight: 700;
    opacity: .5;
    text-align: start;
    margin: 2rem 0 1.3rem;
}
.tendencias-subt{
  display: flex;
  text-align: center;
  font-size: 1rem;
  gap: .3rem;
  padding: 0 20px 0 0px;
}

.recomendados-titulo{
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .5;
    text-align: start;
    margin: 2rem 0 1.3rem;
}

/* media query -sm */
@media only screen and (min-width:576px){
  

/* Aqui main/main2/main3 no tiene más overview en las películas o tv */
  .main{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;
  }
  .main2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  }
  .main3{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  .titulo2{
    font-size: 1.5rem;
  }
  .titulo{
    font-size: 1.5rem;
  }
  .tendencias-titulo{
    font-size: 1.3rem;
  }

}

/* media query -md */
@media only screen and (min-width:768px){
  

/* main/main2/main3 tienen overview de peliculas o tv en este tamaño de pantalla  */
  .main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;
  }
  
  .main2{
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto auto;
  gap: 10px;
  }
  .main3{
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto;
  }
  .main3 .main3Videos{
    grid-row: 2/3;
  }
  /* titulos  */
  .titulo{
    margin: 2rem 0px;
    font-size: 2rem;
    text-align: start;
    padding:0 1vw;
  }
  .titulo2{
    font-size: 1.5rem;
  }
  .subtitulo{
    margin: 2rem 0px;
    font-size: 1.5rem;
    text-align: start;
    padding:0 1vw;
  }

  
  .tendencias-titulo{
      font-size: 1.5rem;
      font-weight: 700;
      opacity: .5;
      text-align: start;
      margin: 2rem 0 1.3rem;
  }
  .tendencias-subt{
    display: flex;
    text-align: center;
    gap: .3rem;
    padding: 0 20px 0 0px;
  }

}
/* media query -lg */
@media only screen and (min-width:992px){
  .main{
    grid-template-columns: 0.8fr 0.26fr;
  }
}

/* media query -xl */
@media only screen and (min-width:1200px){

}
/* media query -xxl */
@media only screen and (min-width:1400px){


}


